# E07 recommendation project

## 1) 데이터 준비와 전처리

In [1]:
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/e/e07_recommendation_artist/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [3]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'cnt'}, inplace=True)

In [4]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/e/e07_recommendation_artist/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [5]:
ratings

         user_id  movie_id  cnt  timestamp
0              1      1193    5  978300760
1              1       661    3  978302109
2              1       914    3  978301968
3              1      3408    4  978300275
4              1      2355    5  978824291
...          ...       ...  ...        ...
1000203     6040      1090    3  956715518
1000205     6040      1094    5  956704887
1000206     6040       562    5  956704746
1000207     6040      1096    4  956715648
1000208     6040      1097    4  956715569

[836478 rows x 4 columns]

In [6]:
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [7]:
data = pd.merge(ratings, movies, how='outer', on='movie_id')
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836733 entries, 0 to 836732
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    836478 non-null  float64
 1   movie_id   836733 non-null  int64
 2   cnt        836478 non-null  float64
 3   timestamp  836478 non-null  float64
 4   title      836733 non-null  object
 5   genre      836733 non-null  object
dtypes: float64(3), int64(1), object(2)
memory usage: 44.7+ MB

In [8]:
# null 다 떨굼

In [9]:
data = data.drop(columns=['timestamp']).dropna()

In [10]:
data

,user_id,movie_id,cnt,title,genre
0,1.0,1193,5.0,One Flew Over the Cuckoo's Nest (1975),Drama
1,2.0,1193,5.0,One Flew Over the Cuckoo's Nest (1975),Drama
2,12.0,1193,4.0,One Flew Over the Cuckoo's Nest (1975),Drama
3,15.0,1193,4.0,One Flew Over the Cuckoo's Nest (1975),Drama
4,17.0,1193,5.0,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...
836473,5851.0,3607,5.0,One Little Indian (1973),Comedy|Drama|Western
836474,5854.0,3026,4.0,Slaughterhouse (1987),Horror
836475,5854.0,690,3.0,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938.0,2909,4.0,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948.0,1360,5.0,Identification of a Woman (Identificazione di ...,Drama

In [11]:
# float -> int, timestamp column을 drop한다
data['user_id'] = data['user_id'].astype(int)
data['cnt'] = data['cnt'].astype(int)
data

,user_id,movie_id,cnt,title,genre
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...
836473,5851,3607,5,One Little Indian (1973),Comedy|Drama|Western
836474,5854,3026,4,Slaughterhouse (1987),Horror
836475,5854,690,3,"Promise, The (Versprechen, Das) (1994)",Romance
836476,5938,2909,4,"Five Wives, Three Secretaries and Me (1998)",Documentary
836477,5948,1360,5,Identification of a Woman (Identificazione di ...,Drama

In [12]:
data['user_id'].nunique()
data['user_id'].max()

6040

In [13]:
ratings_origin = ratings
ratings = data

In [14]:
ratings['user_id'] = ratings['user_id'].astype(int)
ratings['cnt'] = ratings['cnt'].astype(int)
ratings['movie_id'] = ratings['movie_id'].astype(int)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836478 entries, 0 to 836477
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   836478 non-null  int64
 1   movie_id  836478 non-null  int64
 2   cnt       836478 non-null  int64
 3   title     836478 non-null  object
 4   genre     836478 non-null  object
dtypes: int64(3), object(2)
memory usage: 38.3+ MB

## 2) 분석하기
---
- ratings에 있는 유니크한 영화 개수
- rating에 있는 유니크한 사용자 수
- 가장 인기있는 영화 30개(인기순)

In [15]:
print("unique movie title number:", ratings['movie_id'].nunique())
print("unique user number:", ratings['user_id'].nunique())
print("-ntop 30 popular movies/n", ratings['title'].value_counts().head(30))

unique movie title number: 3628
unique user number: 6039
-ntop 30 popular movies/n American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Name: title, dtype: int64

In [16]:
midnew = ratings['movie_id'].max()+1
uid=ratings['user_id'].max()+1
print(midnew, uid)

3953 6041

## 4) CSR matrix를 직접 만들어 봅시다.

In [17]:
mydat = pd.DataFrame(columns=['user_id','movie_id','cnt','title','genre'])
mydat.loc[0] = [6041, 318, 5, 'Shawshank Redemption, The (1994)', 'Drama']
mydat.loc[1] = [uid, midnew, 5, "8 mile (2003)", "Drama"]
mydat.loc[2] = [uid, 1270, 4, "Back to the Future (1985)", "Comedy|Sci-Fi"]
midnew += 1
mydat.loc[3] = [uid, midnew, 4, "Inception (2010)", "SF|Action"]
mydat.loc[4] = [uid, 593, 5, "Silence of the Lambs, The (1991)", "Drama|Thriller"]

mydat

  user_id movie_id cnt                             title           genre
0    6041      318   5  Shawshank Redemption, The (1994)           Drama
1    6041     3953   5                     8 mile (2003)           Drama
2    6041     1270   4         Back to the Future (1985)   Comedy|Sci-Fi
3    6041     3954   4                  Inception (2010)       SF|Action
4    6041      593   5  Silence of the Lambs, The (1991)  Drama|Thriller

In [18]:
ratings = ratings.append(mydat)
ratings

,user_id,movie_id,cnt,title,genre
0,1,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...
0,6041,318,5,"Shawshank Redemption, The (1994)",Drama
1,6041,3953,5,8 mile (2003),Drama
2,6041,1270,4,Back to the Future (1985),Comedy|Sci-Fi
3,6041,3954,4,Inception (2010),SF|Action
4,6041,593,5,"Silence of the Lambs, The (1991)",Drama|Thriller

In [19]:
ratings['user_id'] = ratings['user_id'].astype(int)
ratings['cnt'] = ratings['cnt'].astype(int)
ratings['movie_id'] = ratings['movie_id'].astype(int)
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 836483 entries, 0 to 4
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   836483 non-null  int64
 1   movie_id  836483 non-null  int64
 2   cnt       836483 non-null  int64
 3   title     836483 non-null  object
 4   genre     836483 non-null  object
dtypes: int64(3), object(2)
memory usage: 38.3+ MB

In [20]:
ratings[ratings['user_id']==6041]

   user_id  movie_id  cnt                             title           genre
0     6041       318    5  Shawshank Redemption, The (1994)           Drama
1     6041      3953    5                     8 mile (2003)           Drama
2     6041      1270    4         Back to the Future (1985)   Comedy|Sci-Fi
3     6041      3954    4                  Inception (2010)       SF|Action
4     6041       593    5  Silence of the Lambs, The (1991)  Drama|Thriller

In [21]:
user_unique = ratings['user_id'].unique()

user_to_idx = {v:k for k,v in enumerate(user_unique)}

In [22]:
movie_id_unique = ratings['movie_id'].unique()

movie_id_to_idx = {v:k for k,v in enumerate(movie_id_unique)}

In [23]:
title_unique = ratings['title'].unique()

title_to_idx = {v:k for k,v in enumerate(title_unique)}

In [24]:
print(user_to_idx[100])
print(movie_id_to_idx[1])
print(title_to_idx["Back to the Future (1985)"])

3507
40
22

In [25]:
user_to_idx

{1: 0,
 2: 1,
 12: 2,
 15: 3,
 17: 4,
 18: 5,
 19: 6,
 24: 7,
 28: 8,
 33: 9,
 39: 10,
 42: 11,
 44: 12,
 47: 13,
 48: 14,
 49: 15,
 53: 16,
 54: 17,
 58: 18,
 59: 19,
 62: 20,
 80: 21,
 81: 22,
 88: 23,
 89: 24,
 95: 25,
 96: 26,
 102: 27,
 107: 28,
 120: 29,
 123: 30,
 131: 31,
 136: 32,
 139: 33,
 146: 34,
 150: 35,
 151: 36,
 155: 37,
 166: 38,
 169: 39,
 175: 40,
 178: 41,
 180: 42,
 190: 43,
 191: 44,
 192: 45,
 195: 46,
 196: 47,
 202: 48,
 208: 49,
 216: 50,
 224: 51,
 225: 52,
 227: 53,
 230: 54,
 231: 55,
 235: 56,
 236: 57,
 242: 58,
 245: 59,
 259: 60,
 261: 61,
 264: 62,
 265: 63,
 266: 64,
 270: 65,
 272: 66,
 281: 67,
 285: 68,
 287: 69,
 291: 70,
 292: 71,
 293: 72,
 294: 73,
 295: 74,
 297: 75,
 299: 76,
 300: 77,
 301: 78,
 306: 79,
 307: 80,
 308: 81,
 309: 82,
 312: 83,
 314: 84,
 315: 85,
 317: 86,
 318: 87,
 319: 88,
 326: 89,
 327: 90,
 329: 91,
 331: 92,
 332: 93,
 333: 94,
 334: 95,
 335: 96,
 339: 97,
 340: 98,
 349: 99,
 352: 100,
 353: 101,
 355: 102,
 357: 103,
 361: 104,
 366: 105,
 383: 106,
 390: 107,
 392: 108,
 393: 109,
 402: 110,
 409: 111,
 411: 112,
 424: 113,
 425: 114,
 437: 115,
 438: 116,
 439: 117,
 440: 118,
 442: 119,
 444: 120,
 445: 121,
 450: 122,
 451: 123,
 453: 124,
 456: 125,
 457: 126,
 460: 127,
 462: 128,
 464: 129,
 467: 130,
 477: 131,
 479: 132,
 480: 133,
 482: 134,
 483: 135,
 489: 136,
 491: 137,
 502: 138,
 504: 139,
 505: 140,
 507: 141,
 509: 142,
 513: 143,
 515: 144,
 516: 145,
 520: 146,
 524: 147,
 526: 148,
 529: 149,
 531: 150,
 533: 151,
 537: 152,
 541: 153,
 549: 154,
 550: 155,
 551: 156,
 554: 157,
 558: 158,
 560: 159,
 573: 160,
 582: 161,
 585: 162,
 587: 163,
 588: 164,
 591: 165,
 599: 166,
 601: 167,
 611: 168,
 620: 169,
 622: 170,
 624: 171,
 626: 172,
 637: 173,
 641: 174,
 650: 175,
 651: 176,
 656: 177,
 660: 178,
 661: 179,
 671: 180,
 673: 181,
 677: 182,
 679: 183,
 681: 184,
 682: 185,
 688: 186,
 690: 187,
 691: 188,
 692: 189,
 698: 190,
 699: 191,
 701: 192,
 702: 193,
 710: 194,
 711: 195,
 719: 196,
 721: 197,
 729: 198,
 732: 199,
 733: 200,
 743: 201,
 744: 202,
 746: 203,
 748: 204,
 749: 205,
 752: 206,
 755: 207,
 760: 208,
 764: 209,
 765: 210,
 770: 211,
 771: 212,
 773: 213,
 774: 214,
 779: 215,
 784: 216,
 785: 217,
 791: 218,
 792: 219,
 793: 220,
 796: 221,
 801: 222,
 810: 223,
 816: 224,
 824: 225,
 825: 226,
 829: 227,
 833: 228,
 839: 229,
 840: 230,
 841: 231,
 843: 232,
 844: 233,
 846: 234,
 850: 235,
 853: 236,
 854: 237,
 862: 238,
 864: 239,
 867: 240,
 868: 241,
 869: 242,
 870: 243,
 886: 244,
 900: 245,
 903: 246,
 904: 247,
 907: 248,
 912: 249,
 919: 250,
 928: 251,
 929: 252,
 934: 253,
 935: 254,
 946: 255,
 948: 256,
 957: 257,
 958: 258,
 960: 259,
 963: 260,
 965: 261,
 971: 262,
 975: 263,
 980: 264,
 983: 265,
 984: 266,
 994: 267,
 999: 268,
 1003: 269,
 1010: 270,
 1014: 271,
 1015: 272,
 1017: 273,
 1018: 274,
 1019: 275,
 1027: 276,
 1028: 277,
 1031: 278,
 1032: 279,
 1035: 280,
 1036: 281,
 1038: 282,
 1040: 283,
 1048: 284,
 1058: 285,
 1059: 286,
 1062: 287,
 1068: 288,
 1077: 289,
 1078: 290,
 1084: 291,
 1088: 292,
 1090: 293,
 1094: 294,
 1098: 295,
 1099: 296,
 1101: 297,
 1105: 298,
 1108: 299,
 1113: 300,
 1115: 301,
 1117: 302,
 1119: 303,
 1120: 304,
 1121: 305,
 1124: 306,
 1126: 307,
 1128: 308,
 1133: 309,
 1134: 310,
 1137: 311,
 1142: 312,
 1150: 313,
 1162: 314,
 1165: 315,
 1169: 316,
 1170: 317,
 1172: 318,
 1174: 319,
 1176: 320,
 1178: 321,
 1180: 322,
 1181: 323,
 1182: 324,
 1197: 325,
 1202: 326,
 1203: 327,
 1204: 328,
 1209: 329,
 1211: 330,
 1216: 331,
 1218: 332,
 1224: 333,
 1225: 334,
 1226: 335,
 1228: 336,
 1231: 337,
 1238: 338,
 1239: 339,
 1242: 340,
 1243: 341,
 1244: 342,
 1246: 343,
 1248: 344,
 1249: 345,
 1260: 346,
 1264: 347,
 1265: 348,
 1266: 349,
 1267: 350,
 1273: 351,
 1274: 352,
 1277: 353,
 1279: 354,
 1285: 355,
 1289: 356,
 1291: 357,
 1293: 358,
 1298: 359,
 1301: 360,
 1303: 361,
 1305: 362,
 1317: 363,
 1324: 364,
 1331: 365,
 1332: 366,
 1333: 367,
 1335: 368,
 1339: 369,
 1340: 370,
 1343: 371,
 1349: 372,
 1365: 373,
 1374: 374,
 1383: 375,
 1390: 376,
 1392: 377,
 1396: 378,
 1399: 379,
 1411: 380,
 1412: 381,
 1413: 382,
 1415: 383,
 1416: 384,
 1421: 385,
 1422: 386,
 1423: 387,
 1427: 388,
 1432: 389,
 1437: 390,
 1440: 391,
 1442: 392,
 1446: 393,
 1447: 394,
 1448: 395,
 1449: 396,
 1451: 397,
 1457: 398,
 1463: 399,
 1470: 400,
 1475: 401,
 1477: 402,
 1482: 403,
 1483: 404,
 1489: 405,
 1495: 406,
 1506: 407,
 1508: 408,
 1517: 409,
 1527: 410,
 1530: 411,
 1536: 412,
 1547: 413,
 1551: 414,
 1552: 415,
 1556: 416,
 1565: 417,
 1569: 418,
 1571: 419,
 1579: 420,
 1584: 421,
 1587: 422,
 1590: 423,
 1591: 424,
 1592: 425,
 1609: 426,
 1613: 427,
 1614: 428,
 1618: 429,
 1619: 430,
 1628: 431,
 1631: 432,
 1632: 433,
 1636: 434,
 1638: 435,
 1639: 436,
 1642: 437,
 1648: 438,
 1654: 439,
 1660: 440,
 1671: 441,
 1676: 442,
 1680: 443,
 1681: 444,
 1682: 445,
 1685: 446,
 1694: 447,
 1696: 448,
 1697: 449,
 1701: 450,
 1702: 451,
 1712: 452,
 1717: 453,
 1720: 454,
 1732: 455,
 1733: 456,
 1739: 457,
 1741: 458,
 1742: 459,
 1744: 460,
 1748: 461,
 1753: 462,
 1758: 463,
 1760: 464,
 1762: 465,
 1768: 466,
 1775: 467,
 1780: 468,
 1788: 469,
 1794: 470,
 1797: 471,
 1800: 472,
 1802: 473,
 1811: 474,
 1812: 475,
 1820: 476,
 1824: 477,
 1828: 478,
 1836: 479,
 1837: 480,
 1842: 481,
 1843: 482,
 1863: 483,
 1869: 484,
 1873: 485,
 1874: 486,
 1877: 487,
 1879: 488,
 1880: 489,
 1882: 490,
 1884: 491,
 1889: 492,
 1890: 493,
 1892: 494,
 1894: 495,
 1895: 496,
 1896: 497,
 1897: 498,
 1899: 499,
 1908: 500,
 1909: 501,
 1911: 502,
 1912: 503,
 1914: 504,
 1916: 505,
 1920: 506,
 1926: 507,
 1928: 508,
 1940: 509,
 1941: 510,
 1943: 511,
 1946: 512,
 1947: 513,
 1952: 514,
 1959: 515,
 1964: 516,
 1969: 517,
 1972: 518,
 1980: 519,
 1981: 520,
 1988: 521,
 1991: 522,
 1996: 523,
 1998: 524,
 1999: 525,
 2000: 526,
 2007: 527,
 2008: 528,
 2010: 529,
 2013: 530,
 2015: 531,
 2018: 532,
 2020: 533,
 2023: 534,
 2030: 535,
 2038: 536,
 2039: 537,
 2041: 538,
 2042: 539,
 2046: 540,
 2047: 541,
 2050: 542,
 2063: 543,
 2064: 544,
 2071: 545,
 2073: 546,
 2083: 547,
 2084: 548,
 2092: 549,
 2098: 550,
 2100: 551,
 2102: 552,
 2105: 553,
 2106: 554,
 2109: 555,
 2110: 556,
 2119: 557,
 2122: 558,
 2139: 559,
 2140: 560,
 2148: 561,
 2153: 562,
 2154: 563,
 2157: 564,
 2164: 565,
 2165: 566,
 2168: 567,
 2173: 568,
 2175: 569,
 2176: 570,
 2179: 571,
 2181: 572,
 2185: 573,
 2188: 574,
 2200: 575,
 2201: 576,
 2208: 577,
 2210: 578,
 2219: 579,
 2222: 580,
 2231: 581,
 2233: 582,
 2237: 583,
 2243: 584,
 2244: 585,
 2247: 586,
 2249: 587,
 2251: 588,
 2253: 589,
 2254: 590,
 2259: 591,
 2264: 592,
 2275: 593,
 2279: 594,
 2281: 595,
 2285: 596,
 2288: 597,
 2296: 598,
 2301: 599,
 2303: 600,
 2304: 601,
 2306: 602,
 2309: 603,
 2313: 604,
 2317: 605,
 2323: 606,
 2324: 607,
 2331: 608,
 2332: 609,
 2334: 610,
 2336: 611,
 2338: 612,
 2340: 613,
 2342: 614,
 2345: 615,
 2348: 616,
 2353: 617,
 2355: 618,
 2356: 619,
 2360: 620,
 2368: 621,
 2376: 622,
 2385: 623,
 2387: 624,
 2392: 625,
 2393: 626,
 2395: 627,
 2406: 628,
 2408: 629,
 2410: 630,
 2417: 631,
 2421: 632,
 2428: 633,
 2437: 634,
 2442: 635,
 2449: 636,
 2451: 637,
 2453: 638,
 2454: 639,
 2462: 640,
 2465: 641,
 2468: 642,
 2470: 643,
 2472: 644,
 2474: 645,
 2476: 646,
 2478: 647,
 2481: 648,
 2484: 649,
 2485: 650,
 2489: 651,
 2496: 652,
 2497: 653,
 2501: 654,
 2507: 655,
 2515: 656,
 2518: 657,
 2526: 658,
 2529: 659,
 2532: 660,
 2534: 661,
 2535: 662,
 2536: 663,
 2542: 664,
 2543: 665,
 2544: 666,
 2546: 667,
 2547: 668,
 2550: 669,
 2561: 670,
 2565: 671,
 2567: 672,
 2569: 673,
 2575: 674,
 2580: 675,
 2584: 676,
 2585: 677,
 2590: 678,
 2597: 679,
 2602: 680,
 2604: 681,
 2605: 682,
 2607: 683,
 2608: 684,
 2611: 685,
 2613: 686,
 2616: 687,
 2619: 688,
 2623: 689,
 2624: 690,
 2625: 691,
 2626: 692,
 2627: 693,
 2628: 694,
 2631: 695,
 2636: 696,
 2638: 697,
 2641: 698,
 2643: 699,
 2650: 700,
 2652: 701,
 2659: 702,
 2662: 703,
 2664: 704,
 2665: 705,
 2669: 706,
 2670: 707,
 2673: 708,
 2683: 709,
 2684: 710,
 2691: 711,
 2693: 712,
 2694: 713,
 2699: 714,
 2700: 715,
 2704: 716,
 2709: 717,
 2731: 718,
 2733: 719,
 2735: 720,
 2736: 721,
 2749: 722,
 2750: 723,
 2751: 724,
 2752: 725,
 2753: 726,
 2757: 727,
 2762: 728,
 2764: 729,
 2765: 730,
 2766: 731,
 2773: 732,
 2774: 733,
 2780: 734,
 2781: 735,
 2786: 736,
 2788: 737,
 2790: 738,
 2793: 739,
 2803: 740,
 2807: 741,
 2814: 742,
 2818: 743,
 2820: 744,
 2825: 745,
 2826: 746,
 2831: 747,
 2838: 748,
 2843: 749,
 2847: 750,
 2848: 751,
 2854: 752,
 2855: 753,
 2857: 754,
 2859: 755,
 2860: 756,
 2866: 757,
 2877: 758,
 2878: 759,
 2880: 760,
 2889: 761,
 2892: 762,
 2893: 763,
 2895: 764,
 2901: 765,
 2907: 766,
 2909: 767,
 2914: 768,
 2921: 769,
 2928: 770,
 2929: 771,
 2939: 772,
 2942: 773,
 2944: 774,
 2946: 775,
 2952: 776,
 2955: 777,
 2957: 778,
 2960: 779,
 2963: 780,
 2964: 781,
 2965: 782,
 2967: 783,
 2972: 784,
 2974: 785,
 2975: 786,
 2978: 787,
 2989: 788,
 2990: 789,
 3000: 790,
 3001: 791,
 3002: 792,
 3005: 793,
 3012: 794,
 3015: 795,
 3016: 796,
 3017: 797,
 3020: 798,
 3029: 799,
 3036: 800,
 3038: 801,
 3042: 802,
 3044: 803,
 3049: 804,
 3050: 805,
 3054: 806,
 3067: 807,
 3069: 808,
 3072: 809,
 3075: 810,
 3078: 811,
 3080: 812,
 3081: 813,
 3082: 814,
 3089: 815,
 3090: 816,
 3098: 817,
 3108: 818,
 3112: 819,
 3117: 820,
 3118: 821,
 3128: 822,
 3129: 823,
 3131: 824,
 3132: 825,
 3135: 826,
 3136: 827,
 3139: 828,
 3145: 829,
 3146: 830,
 3148: 831,
 3156: 832,
 3159: 833,
 3163: 834,
 3168: 835,
 3171: 836,
 3172: 837,
 3175: 838,
 3177: 839,
 3180: 840,
 3182: 841,
 3187: 842,
 3191: 843,
 3193: 844,
 3195: 845,
 3198: 846,
 3200: 847,
 3201: 848,
 3204: 849,
 3211: 850,
 3215: 851,
 3216: 852,
 3220: 853,
 3222: 854,
 3224: 855,
 3226: 856,
 3229: 857,
 3233: 858,
 3244: 859,
 3245: 860,
 3246: 861,
 3249: 862,
 3251: 863,
 3253: 864,
 3259: 865,
 3260: 866,
 3265: 867,
 3270: 868,
 3271: 869,
 3272: 870,
 3277: 871,
 3280: 872,
 3281: 873,
 3282: 874,
 3284: 875,
 3285: 876,
 3286: 877,
 3287: 878,
 3292: 879,
 3299: 880,
 3300: 881,
 3301: 882,
 3304: 883,
 3306: 884,
 3310: 885,
 3313: 886,
 3322: 887,
 3323: 888,
 3333: 889,
 3336: 890,
 3338: 891,
 3339: 892,
 3344: 893,
 3346: 894,
 3348: 895,
 3351: 896,
 3352: 897,
 3355: 898,
 3359: 899,
 3361: 900,
 3367: 901,
 3369: 902,
 3371: 903,
 3380: 904,
 3383: 905,
 3389: 906,
 3390: 907,
 3391: 908,
 3394: 909,
 3398: 910,
 3400: 911,
 3402: 912,
 3403: 913,
 3404: 914,
 3410: 915,
 3411: 916,
 3413: 917,
 3415: 918,
 3419: 919,
 3420: 920,
 3425: 921,
 3428: 922,
 3430: 923,
 3434: 924,
 3435: 925,
 3453: 926,
 3456: 927,
 3462: 928,
 3464: 929,
 3468: 930,
 3474: 931,
 3475: 932,
 3476: 933,
 3478: 934,
 3481: 935,
 3483: 936,
 3487: 937,
 3488: 938,
 3491: 939,
 3493: 940,
 3495: 941,
 3496: 942,
 3501: 943,
 3502: 944,
 3503: 945,
 3506: 946,
 3507: 947,
 3512: 948,
 3514: 949,
 3515: 950,
 3520: 951,
 3521: 952,
 3523: 953,
 3525: 954,
 3527: 955,
 3534: 956,
 3538: 957,
 3539: 958,
 3541: 959,
 3546: 960,
 3550: 961,
 3551: 962,
 3558: 963,
 3566: 964,
 3567: 965,
 3569: 966,
 3576: 967,
 3588: 968,
 3590: 969,
 3592: 970,
 3594: 971,
 3596: 972,
 3600: 973,
 3601: 974,
 3612: 975,
 3615: 976,
 3618: 977,
 3620: 978,
 3621: 979,
 3624: 980,
 3626: 981,
 3627: 982,
 3641: 983,
 3645: 984,
 3647: 985,
 3648: 986,
 3650: 987,
 3651: 988,
 3653: 989,
 3658: 990,
 3666: 991,
 3668: 992,
 3672: 993,
 3673: 994,
 3674: 995,
 3681: 996,
 3684: 997,
 3685: 998,
 3688: 999,
 ...}

In [26]:
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()

print("t_u_d length:", len(temp_user_data))
print("uid length:", len(ratings))

if len(temp_user_data) == len(ratings):
    print("user id col indexing OK!!")
    ratings['user_id'] = temp_user_data
else:
    print("user_id col indexing FAIL!!")


temp_title_data = ratings['title'].map(title_to_idx.get).dropna()
if len(temp_title_data) == len(ratings):
    print("title col indexing OK!!")
    ratings['title'] = temp_title_data
else:
    print("title col indexing FAIL!!")


ratings

t_u_d length: 836483
uid length: 836483
user id col indexing OK!!
title col indexing OK!!

    user_id  movie_id  cnt  title           genre
0         0      1193    5      0           Drama
1         1      1193    5      0           Drama
2         2      1193    4      0           Drama
3         3      1193    4      0           Drama
4         4      1193    5      0           Drama
..      ...       ...  ...    ...             ...
0      6039       318    5    157           Drama
1      6039      3953    5   3628           Drama
2      6039      1270    4     22   Comedy|Sci-Fi
3      6039      3954    4   3629       SF|Action
4      6039       593    5    121  Drama|Thriller

[836483 rows x 5 columns]

## CSR Matrix

In [27]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_title = ratings['title'].nunique()

csr_data = csr_matrix((ratings.cnt, (ratings.user_id, ratings.title)), shape=(num_user, num_title))

In [28]:
csr_data

<6040x3630 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

## 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.
## MF Model 학습하기

In [29]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [30]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3630x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [31]:
# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

## 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악

In [32]:
myid, shawshank = user_to_idx[6041], title_to_idx["Shawshank Redemption, The (1994)"]
myid_vec, shawshank_vec = als_model.user_factors[myid], als_model.item_factors[shawshank]

In [33]:
shawshank_vec

array([ 0.00361633, -0.02260149, -0.02347906,  0.03884713, -0.02859312,
        0.02317532,  0.00076774,  0.01183775,  0.01520667, -0.00647727,
        0.0251879 , -0.01277295,  0.00766861, -0.01337628, -0.00813822,
        0.05085362, -0.003747  , -0.0178614 , -0.03530301,  0.01855783,
        0.02082657, -0.00658514,  0.01620367,  0.01082794,  0.01824498,
        0.03274823,  0.000861  , -0.01308314, -0.01504275,  0.01693779,
        0.0309313 ,  0.00789163, -0.02695516,  0.02952161,  0.01385464,
        0.00188465, -0.00463441, -0.01497131, -0.00466755,  0.01052724,
       -0.01279105,  0.02044004,  0.01045301,  0.00314488,  0.0281276 ,
        0.01197921,  0.00474538, -0.00698844,  0.00587526, -0.01423356,
        0.00754628, -0.013164  ,  0.00571474, -0.00191561,  0.01747607,
        0.01678737, -0.02239294,  0.01288637,  0.0087376 ,  0.00107139,
       -0.00057612,  0.00905071,  0.01921833, -0.00833583,  0.03781997,
        0.00074045, -0.0059992 ,  0.0150693 ,  0.00339563, -0.00542808,
        0.00261912, -0.02177498,  0.02199069,  0.02336982,  0.01794703,
        0.00124032,  0.03015199, -0.00895733, -0.01121486,  0.01258662,
        0.00129886,  0.04263265, -0.01373875,  0.01923894,  0.01656206,
       -0.0319746 ,  0.02554882,  0.00060074, -0.00106185, -0.00165996,
        0.00982384, -0.00814072,  0.02650773,  0.01172783,  0.02567535,
        0.00300359, -0.01203981,  0.01304003, -0.0002567 ,  0.01930859],
      dtype=float32)

In [34]:
np.dot(myid_vec, shawshank_vec)

0.57957864

In [35]:
tmp = data[data['title'].str.contains("Star Wars")]
print(tmp['title'].unique())

['Star Wars: Episode IV - A New Hope (1977)'
 'Star Wars: Episode I - The Phantom Menace (1999)'
 'Star Wars: Episode VI - Return of the Jedi (1983)'
 'Star Wars: Episode V - The Empire Strikes Back (1980)']

## 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다

In [36]:
# 다른 영화에 대한 선호도 예측 확인하기

sixsense = title_to_idx['Sixth Sense, The (1999)']
sixsense_vec = als_model.item_factors[sixsense]
np.dot(myid_vec, sixsense_vec)

# 안 좋아하는게 맞다!

0.2074396

In [37]:
favorite_title = 'Shawshank Redemption, The (1994)'
title_id = title_to_idx[favorite_title]
similar_title = als_model.similar_items(title_id, N=15)
similar_title

[(157, 0.17804442),
 (121, 0.14116603),
 (23, 0.12969548),
 (222, 0.12782803),
 (51, 0.121067),
 (248, 0.11692512),
 (269, 0.11368449),
 (48, 0.092543684),
 (3628, 0.0886219),
 (233, 0.083652414),
 (323, 0.083128594),
 (3629, 0.07945285),
 (3517, 0.06835021),
 (100, 0.064839184),
 (110, 0.062024493)]

In [38]:
#title_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_title = {v:k for k,v in title_to_idx.items()}
[idx_to_title[i[0]] for i in similar_title]

['Shawshank Redemption, The (1994)',
 'Silence of the Lambs, The (1991)',
 "Schindler's List (1993)",
 'Pulp Fiction (1994)',
 'Fargo (1996)',
 'Good Will Hunting (1997)',
 'GoodFellas (1990)',
 'Saving Private Ryan (1998)',
 '8 mile (2003)',
 'Usual Suspects, The (1995)',
 'Dead Man Walking (1995)',
 'Inception (2010)',
 'Paralyzing Fear: The Story of Polio in America, A (1998)',
 'Amadeus (1984)',
 'Groundhog Day (1993)']

In [39]:
def get_similar_title(title_name: str):
    title_id = title_to_idx[title_name]
    similar_title = als_model.similar_items(title_id)
    similar_title = [idx_to_title[i[0]] for i in similar_title]
    return similar_title

print("슝=3")

슝=3

In [40]:
get_similar_title('Shawshank Redemption, The (1994)')

['Shawshank Redemption, The (1994)',
 'Silence of the Lambs, The (1991)',
 "Schindler's List (1993)",
 'Pulp Fiction (1994)',
 'Fargo (1996)',
 'Good Will Hunting (1997)',
 'GoodFellas (1990)',
 'Saving Private Ryan (1998)',
 '8 mile (2003)',
 'Usual Suspects, The (1995)']

## 8) 내가 좋아할 만한 영화들을 추천받아보기

In [41]:
user = user_to_idx[6041]

In [43]:
title_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)

In [46]:
idx_to_title = {v:k for k,v in title_to_idx.items()}
[idx_to_title[i[0]] for i in title_recommended]

["Schindler's List (1993)",
 'Fargo (1996)',
 'Pulp Fiction (1994)',
 'Saving Private Ryan (1998)',
 'GoodFellas (1990)',
 'Good Will Hunting (1997)',
 'American Beauty (1999)',
 'E.T. the Extra-Terrestrial (1982)',
 'Braveheart (1995)',
 'Sixth Sense, The (1999)',
 'Usual Suspects, The (1995)',
 'Raiders of the Lost Ark (1981)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'When Harry Met Sally... (1989)',
 'Christmas Story, A (1983)',
 'Amadeus (1984)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Groundhog Day (1993)',
 'L.A. Confidential (1997)',
 'Sling Blade (1996)']